{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Issue-Tracker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a href="{% url 'webapp:index' %}" class="nav-link">Home</a>
            </li>
            <li>
                <a href="{% url 'webapp:status' %}" class="link">status</a>
            </li>
            <li>
                <a href="{% url 'webapp:type' %}" class="link">type</a>
            </li>
            <li>
                <a href="{% url 'webapp:project' %}" class="link">Projects</a>
            </li>
            <li>
                <a href="{% url 'accounts:users_list' %}" class="link">
                    Пользователи
                </a>
            </li>
            {% if user.is_authenticated %}
                {% block menu_links %}{% endblock %}
                <li class="menu-right">
                    <a href="{% url 'accounts:logout' %}" class="nav-link">
                        Выход
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:user_detail' request.user.pk %}" class="nav-link">
                        Привет, {{ request.user }}!
                    </a>
                </li>
            {% else %}
                <li class="menu-right">
                    <a href="{% url 'accounts:login' %}" class="nav-link">
                        Вход
                    </a>
                </li>
                <li class="menu-right">
                    <a href="{% url 'accounts:create' %}" class="nav-link">
                        Регистрация
                    </a>
                </li>
                <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Statistics
                </button>
            </li>
            {% endif %}
            {% block menu %}
            {% endblock %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for key,value in stats.items %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






{% block scripts %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src={% static 'webapp/js/jquery.min.js' %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'webapp/js/main.js' %}"></script>

</body>
</html>
