
{% extends 'base.html' %}

{% block title %}Delete mission{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <h1>Are you sure want to delete Task
        <a href="{% url 'mission_view' mission.pk %}">{{ mission.summary }}</a>?
    </h1>
    <form method="POST" action="{% url 'mission_delete' mission.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" class = 'btn' value="Confirm"></p>
        <p><a href="{% url 'index'  %}" class = 'btn'>Cancel</a></p>
    </form>
{% endblock %}