{% extends 'base.html' %}
{% block title %}Delete Project{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <h1>Are you sure want to delete Project
        <a href="{% url 'webapp:project_view'  project.pk %}">{{  project.name }}</a>?
    </h1>
    {% if perms.webapp.project_delete %}
    <form method="POST" action="{% url 'webapp:project_delete'  project.pk %}" class="text-center">
    {% endif %}
        {% csrf_token %}
        <p><input type="submit" class = 'btn' value="Confirm"></p>
        <p><a href="{% url 'webapp:project'  %}" class = 'btn'>Cancel</a></p>
    </form>

{% endblock %}