{% extends 'base.html' %}
{% block content %}
    <h1 class="my-3"> Название проекта: {{ project.name }}</h1>
    <p>Дата создания: {{ project.created_at }}</p>
    <p>Описание: {{ project.description }}</p>
    <p>Задачи:</p>
    {% if is_paginated %}
        {% for mission in missions %}
            <p>{{ mission.summary }} <br> Создан {{ mission.created_at }} Статус {{ mission.status }}</p>
        {% endfor %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="pre">{{ mission.description }}</div>
{% endblock %}